@page
@model ForgotPasswordModel

<!DOCTYPE html>
<html>
<head>
    <title>Forgot your password</title>
    <link href="~/css/LoginRegister.css" rel="stylesheet" />
<style>
    .col-md-4 {
        height: 400px;
    }
</style>
</head>
<body>
    <div class="col-md-4">
        <h1 style="margin-top: 40px;">@ViewData["Title"]</h1>
        <h4>Enter your email.</h4>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mybtn">Submit</button>
        </form>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
