<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />

    <h1 class="masthead-heading text-uppercase mb-0">I'm Thomas</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Student - Computer Science</p>
</body>
</html>